.container {
    max-width: 1290px;
    width: 90%;
    margin: 0 auto;
    padding:0 40px!important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:400px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:85%;
    height: 35%;
    color: #333;
    overflow: visible;
    margin: 0 auto;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
}

.btn-2 {
    display: inline-block;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding:20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    /* box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.19); */
}

@media screen and (max-width:992px) {
    .grid {
        display: block;
    }
}
@media screen and (max-width:600px) {
    .container {
        width:100%;
    }
    .grid {
        display: block;
    }
}