.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding:0 40px!important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:400px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60%;
    color: #333;
    overflow: visible;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding-top: 100px;
}

.btn-1 {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding:12px 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 86px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width:992px) {
    .grid {
        display: block;
    }
}
@media screen and (max-width:600px) {
    .grid {
        display: block;
    }
}